// ============================================================ //
// Colours //
// ============================================================ //

$primary: #F03838;
$secondary: #303030;
$background: #FEFEFE;