/* ============================================================ */
/* Progress Bar */
/* ============================================================ */
.progress-header {
	font-weight: bold;
	margin-bottom: 5px;
}

.progress-wrapper {
	display: block;
	width: 100%;
	height: 20px;
	background-color: $secondary;

	.progress {
		display: block;
		height: 20px;
		background-color: $primary;
		color: $background;
		text-align: center;
	}
}

.progress-text {
	margin-top: 7px;
	text-align: right;
}


