{{ if .Site.Params.intro }}
    <header class="post-header">
        <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
        <p>{{ .Site.Params.description }}</p>
        <p class="logo-group">
            <a href="https://podcasts.apple.com/ru/podcast/6н2п/id1517690754" class="logo-link" target="_blank">
                <img class="logo" src="/logos/apple.svg" alt="">
            </a>
            <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8yNGM2ZjRlOC9wb2RjYXN0L3Jzcw==" class="logo-link" target="_blank">
                <img class="logo" src="/logos/google.svg" alt="">
            </a>
            <a href="https://music.yandex.ru/album/11032853" class="logo-link" target="_blank">
                <img class="logo" src="/logos/yamusic.svg" alt="">
            </a>
            <a href="https://overcast.fm/itunes1517690754/6-2" class="logo-link" target="_blank">
                <img class="logo" src="/logos/overcast.svg" alt="">
            </a>
        </p>

    </header>
{{ end }}