<li class="post-stub">
    <a href="{{ .Permalink }}">
        <h4 class="post-stub-title">{{ .Title }}</h4>
        {{ if .Description }}
            <p class="post-stub-description">{{ .Description }}</p>
        {{ end }}
        {{ with .Params.featured }}
            <span class="post-stub-tag">Новинка</span>
        {{ end }}
        <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02" }}">
						Опубликовано - {{ index $.Site.Data.days (printf "%d" .Date.Weekday) }}, {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}
				</time>
    </a>
</li>
