<header class="post-header">
    {{if eq .Section "posts"}}
        <h1 class="post-title">
            {{ replaceRE `(Выпуск \d+:)` "" .Title }}
        </h1>
    {{else}}
        <h1 class="post-title">{{ .Title }}</h1>
    {{end}}

    {{ if .Description }}
        <p class="post-description">{{ .Description }}</p>
    {{ end }}
</header>
