<li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
    <a href="{{ .Permalink }}" itemprop="url" title="Go to post detail">
        <h4 class="post-stub-title" itemprop="name">{{ .Title }}</h4>
        <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02" }}">
						Опубликовано - {{ index $.Site.Data.days (printf "%d" .Date.Weekday) }}, {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}
				</time>
        {{ with .Params.featured }}
            <span class="post-stub-tag">Новинка</span>
        {{ end }}
    </a>
</li>
