{{ partial "header.html" . }}

<div class="container">
    {{ partial "intro.html" . }}
    <p class="error">Этой страницы не существует. Обратно на <a href="{{ .Site.BaseURL }}">главную</a>.</p>
</div>

{{ partial "footer.html" . }}
