{{ $value := mul (div ( .Get "current" ) (float ( .Get "target" ))) 100 }}
{{if (.Get "title")}}
	<div class="progress-header">{{ .Get "title" }}</div>
{{end}}
<div class="progress-wrapper">
	<div class="progress" style="width: {{ $value }}%">
		{{$littleBar := "" }}
		{{ if gt $value 14 }}
			<span class="progressText {{ $littleBar }}">{{ lang.NumFmt 0 $value }}%</span>
		{{ end }}
	</div>
</div>
{{ if ( .Get "progressTextVisible") }}
	<div class="progress-text">
		Собрано {{ .Get "current" }}₽ из {{ .Get "target" }}₽
	</div>
{{end}}
